<div class="flex h-full w-full justify-center">
  <div class="my-4 flex min-h-[50%] w-11/12 lg:w-[1024px] flex-row rounded-xl bg-altBackgroundColor">
    <div class="w-1/6 rounded-l-xl bg-backgroundColorLight">
      <div class="flex flex-col gap-2 overflow-y-auto p-2" *ngFor="let catalog of data">

        <a [routerLink]="['/catalog', catalog.id]"
          class="truncate rounded bg-element p-2 text-lg hover:text-accent font-bold"><i
            class="fa-regular fa-folder"></i> {{ catalog.name
          }}</a>
      </div>
    </div>
    <div class="w-full overflow-y-auto p-2">
      <div class="mb-2 flex w-full justify-end" *ngIf="displayActions">
        <button class="self-end rounded bg-backgroundColorLight px-2 py-1 text-lg font-bold hover:text-accent"
          mat-raised-button (click)="openDialog() ">
          Add Product
        </button>
      </div>
      <div class="p-2 max-h-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>